altgraph==0.17.2
cycler==0.11.0
dearpygui==1.6.2
dill==0.3.5.1
et-xmlfile==1.1.0
fonttools==4.34.4
kiwisolver==1.4.4
macholib==1.16
matplotlib==3.5.2
mypy==0.971
numpy==1.23.1
openpyxl==3.0.10@
packaging==21.3
pandas==1.4.3
pandas-stubs==1.4.3.220807
Pillow==9.2.0
pox==0.3.1
ppft==1.7.6.5
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
pyparsing==3.0.9
PyQt6==6.3.1
PyQt6-Qt6==6.3.1
PyQt6-sip==13.4.0
PySide6==6.3.1
PySide6-Addons==6.3.1
PySide6-Essentials==6.3.1
python-dateutil==2.8.2
pytz==2022.1
scipy==1.8.1
shiboken6==6.3.1
six==1.16.0
tomli==2.0.1
types-pytz==2022.1.2
typing_extensions==4.3.0
